@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{}

.top{
    padding:20px ;  
    color: red;
    font-style: italic;
}

.image1{
    width: 100px;
}

.text{
    font-family: 'Pacifico display';
    width: 500px; 
    padding: 20px;
    border: 1px solid;
    overflow: visible;
    display: inline-block;
}